body {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.coll {
  width: 90%;
  height: 300px;
  cursor: pointer;
  transition: width 250ms ease, height 250ms ease;
  border-radius: 5px;
  background-color: rgb(86, 202, 255);
  margin-top: 20px;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.coll-2 {
  width: 90%;
  height: 250px;
  cursor: pointer;
  transition: width 250ms ease, height 250ms ease;
  border-radius: 5px;
  background-color: rgb(11, 74, 168);
  margin-top: 20px;
}

.coll-2 h2 {
  position: relative;
  top: 30px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
}

.coll-3 {
  width: 90%;
  height: 300px;
  cursor: pointer;
  transition: width 250ms ease, height 250ms ease;
  border-radius: 5px;
  background-color: rgb(71, 206, 18);
  margin-top: 20px;
}

.coll-3 h2 {
  display: flex;
  justify-content: center;
  font-size: 16px;
  position: relative;
  top: 20px;
  margin: 0;
}

.coll-4 {
  width: 90%;
  height: 250px;
  cursor: pointer;
  transition: width 250ms ease, height 250ms ease;
  border-radius: 5px;
  background-color: rgb(255, 251, 0);
  margin-top: 20px;
}

.coll-4 h2 {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: 0;
}

.coll-5 {
  width: 90%;
  height: 200px;
  cursor: pointer;
  transition: width 250ms ease, height 250ms ease;
  border-radius: 5px;
  background-color: rgb(45, 209, 127);
  margin-top: 20px;
}

.coll-5 h2 {
  font-size: 20px;
  margin: 0;
}

.coll-6 {
  width: 90%;
  height: 200px;
  cursor: pointer;
  transition: width 250ms ease, height 250ms ease;
  border-radius: 5px;
  background-color: rgb(193, 209, 45);
  display: inline-block;
  margin-top: 20px;
}

.coll-6 h2 {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin: 0;
}

a {
  color: red;
  text-decoration: none;
}
